html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #eeeeee;
    font-family: "Noto Sans CJK TC Regular", "Noto Sans", sans-serif;
    line-height: normal;
    /* padding: 50px; */
}

.container {
    max-width: 500px;
    background: #ffffff;
    margin: 50px auto 0px;
    box-shadow: 1px 1px 2px #d9d9d9;
    border-radius: 3px;
    padding: 0px 0px 20px 0px;
}

.nav {
    background-color: lightblue;
}

.nav ul {
    background-color: lightblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*text-align: left;*/
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav .active {
    background-color: lightblue;
}

.nav li a:hover {
    background-color: #ffffff;
    color: black;
}

.navicon {
    width: 20px;
    height: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
    text-shadow: 4px 4px 4px #eeeeee;
}

.directory {
    margin: 0 5% 0;
}

.dir_title {
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.dir_list {
    font-size: 15px;
}

.dir_icon {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.checkbox {
    margin-left: 20px;
}

.construction {
    margin: 0 5% 0;
    font-size: 14px;
    color: #b3b3b3;
    font-style: italic;
    text-align: right;
}

.last_updated {
    position: fixed;
    bottom: 0;
    right: 0;
}