html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

embed,
iframe,
img,
object,
video {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
}

ol,
ul {
    list-style: none;
}

/* input,
textarea,
button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    appearance: none;
    text-align: left;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
    outline: none;
} */