* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#bu_introVid {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.background-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-width: 575px;
    max-width: 1000px;
    height: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    line-height: 1.3em;
}

.form-title {
    padding: 15px;
    padding-top: 35px;
    font-size: 2em;
    text-align: center;
}

.grid-container {
    display: grid;
    width: 500px;
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 30px;
    grid-gap: 20px 10px;
    /* use below line to see grid outline */
    /* background-color: #2196F3; */
}

/*
.grid-container > div {
    /* use below line to see grid outline */
/* background-color: rgba(255, 255, 255, 0.8);
}
*/

.center {
    margin: auto;
}

#form-content div:nth-of-type(2n+1) {
    padding-left: 10%;
}

#form-content div:nth-of-type(2n) {
    margin-left: 10%;
}

#form-content div:nth-of-type(8) {
    margin-left: 7%;
}

#form-content div:nth-of-type(10) {
    margin-left: 8%;
}

#form-content div:nth-of-type(11) {
    padding-left: 70%;
}

#form-content div:nth-of-type(11),
#form-content div:nth-of-type(12) {
    padding-top: 8px;
}
