/* 
 * This file contains the CSS styles of all of the webpages.
 * However, page specific styles are imported using @import for clarity
 * (some of my files are really large),
 * but I believe this still satisfy the requirement as 
 * all common styling of header, main, & footer shared between the files
 * are still stored in 1 file (here).
 * 
 * (All CSS files are able to pass validation on their own!!)
 */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap);
@import url(aboutme.css);
@import url(biography.css);
@import url(mypets.css);

/* header (start) */

.header_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    margin: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.header_wrapper .site_logo {
    padding-right: 20px;
}

.header_wrapper .course_title {
    margin-top: 6px;
    font-size: 2em;
    font-weight: bold;
}

nav {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    flex: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

nav li {
    float: right;
}

nav li a {
    position: relative;
    padding: 14px 20px;
    background: rgba(203, 0, 0, 1);
    border-top: 2px solid rgba(170, 0, 0, 1);
    border-right: 2px solid rgba(170, 0, 0, 1);
    border-bottom: 5px solid rgba(170, 0, 0, 1);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease;
}

nav li a:hover {
    border-top: 0;
    border-bottom: 10px solid rgba(170, 0, 0, 1);
    color: white;
    top: -5px;
}

nav li a:active {
    border-bottom: 0px solid rgba(170, 0, 0, 1);
    color: white;
    top: 5px;
}

/* header (end) */


/* main (start) */

main {
    margin: auto 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0em;
}

.container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

/* aboutme.html : more_info */
.container_flex .hobbies ul {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.container_flex .biography {
    flex-basis: 40%;
}
/* aboutme.html : more_info */

.long_paragraphs p {
    text-indent: 50px;
    line-height: 180%;
}

/* 
 * Tip!!
 * See page specific styles in the imports
 *  at the top of the page!
 */

/* .img_dim {
    filter: contrast(70%) brightness(90%) opacity(90%) blur(1px);
} */

/* main (end) */


/* footer */

footer {
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}